body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(207, 207, 207);
    transition: background-color 0.3s, color 0.3s;
}

.context {
    align-items: center !important;
}
/* LOGO */
.navbar-brand {
    height: 40px ;
    padding: 0px;
    width: auto ;
    display: flex ;
    object-fit: contain ;
    vertical-align: middle ;
}

/* NAVBAR */
.navbar {
    background: #587042!important;
    width: 100%;
    margin: 0 auto !;
    align-items: center;
}

.navbar.hidden {
    transform: translateY(-100%);
}

nav div ul li a {
    transition: 0.10s;
    display: flex;
    margin-right: 20px ;
    border-radius: 50px ;
    color: #000000 !important;
}

nav div ul li a:hover {
    background: #ffffff72 ;
    border-radius: 10px ;
}

/* BODY */
